h2 {
  font-size: clamp(1.5rem, 1.692rem + 2.54vw, 60px);
  color: var(--color-main);
  max-width: 20ch;
  font-weight: 700;
  margin-bottom: 1em;

}

h3 {
  font-size: clamp(1.6rem, 2rem + 2vw, 2.5rem);
  color: var(--color-accent);
  max-width: 30ch;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-bottom: 0.5em;
}

h4 {
  font-size: clamp(1rem, 1.2rem + 1.2vw, 1.4rem);
  color: var(--color-grey);
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-top: 0.5em;
}

h5 {
  font-size: clamp(1rem, 1.2rem + 1.2vw, 1.4rem);
  color: var(--color-accent);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-bottom: 1.5em;
}

ul li::marker {
  color: var(--color-accent);
}
small {
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: var(--color-grey-1);
  margin-bottom: 1.5rem;
}

img {
  border-style: none;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.flow > * + * {
  margin-top: 1em;
}

.two_columns_left {
  flex-direction: row-reverse;
}

.three_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4em;

  & > div {
    position: relative;
    width: min(100%, 376px);
    display: grid;
    border-radius: var(--radius-cards);
    overflow: hidden;

    img {
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img:hover {
      transform: scale(1.015);
    }

    h4 {
      font-size: 24px;
      max-width: 296px;
      margin: 0;
    }
  }
}

.text_center {
  display: grid;
  gap: 1em;
  place-items: center;
  width: min(100%, 820px);
  margin-inline: auto;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
