h2 {
  font-size: clamp(1.5rem, 1.692rem + 2.54vw, 60px);
  color: var(--color-primary);
  max-width: 20ch;
  font-weight: 700;
  margin-bottom: 1em;

}

h3 {
  font-size: clamp(1.6rem, 2rem + 2vw, 2.5rem);
  color: var(--color-secondary);
  max-width: 30ch;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-bottom: 0.5em;
}

h4 {
  font-size: clamp(1rem, 1.2rem + 1.2vw, 1.4rem);
  color: var(--color-grey);
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-top: 0.5em;
}

.highlight{
  background: var(--color-accent);
  color: var(--color-white);
  padding: 0.1em 0.3em;
  border-radius: var(--radius-cards);
  font-weight: 600;
}

ol{
  padding-left: 3em;
  padding-bottom: 1 em;

  li::marker{
    font-size: 1.5em;
    font-weight: 700;
  }
}

ul li::marker {
  color: var(--color-accent);
}
small {
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: var(--color-grey-1);
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;

  -webkit-filter: drop-shadow(0 0 8px #ff9500)
    drop-shadow(0 0 15px rgba(255, 149, 0, 0.6))
    drop-shadow(0 0 25px rgba(255, 149, 0, 0.3));
  filter: drop-shadow(0 0 8px #ff9500)
    drop-shadow(0 0 15px rgba(255, 149, 0, 0.6))
    drop-shadow(0 0 25px rgba(255, 149, 0, 0.3));
  transition: transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, -webkit-filter 0.3s ease;
}

img:hover {
  transform: scale(1.03);
  -webkit-filter: drop-shadow(0 0 10px #ffae00)
    drop-shadow(0 0 20px rgba(255, 174, 0, 0.6))
    drop-shadow(0 0 30px rgba(255, 174, 0, 0.3));
  filter: drop-shadow(0 0 10px #ffae00)
    drop-shadow(0 0 20px rgba(255, 174, 0, 0.6))
    drop-shadow(0 0 30px rgba(255, 174, 0, 0.3));
}
.flow > * + * {
  margin-top: 1em;
}

.two_columns_left {
  flex-direction: row-reverse;
}

.three_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4em;

  & > div {
    position: relative;
    width: min(100%, 376px);
    display: grid;
    border-radius: var(--radius-cards);
    overflow: hidden;

    img {
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img:hover {
      transform: scale(1.015);
    }

    h4 {
      font-size: 24px;
      max-width: 296px;
      margin: 0;
    }
  }
}

.text_center {
  display: grid;
  gap: 1em;
  place-items: center;
  width: min(100%, 820px);
  margin-inline: auto;
  text-align: center;
}

.boton-whatsapp {
  position: fixed;
  bottom: 6rem;
  right: 20px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  transition: all .2s ease-in-out;
  width: max-content;
  text-decoration: none;
}

.boton-whatsapp img{
  box-shadow: none;
  display: inline-block;
}

@media screen and (width >=800px) {
  .boton-whatsapp::before {
    content: "¡Contáctanos!";
    font-size: 14px;
    color: white;
    background-color: #2eda2e83;
    border: 3px solid white;
    padding: 8px;
    border-radius: 8px;
  }
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
}