header {
  overflow: hidden;
  min-height: 50dvh;
  width: 100dvw;
  background: url('{{ "img/fondo-hero.avif" | relative_url }}') center/cover no-repeat;
  position: relative;
  color: var(--color-white);
  
  .hero{
    padding: 8em 0 0;
    width: min(calc(100% - 2rem), 1320px);
    margin-inline: auto;
  
    .filter {
      width: min(100% - 600px);
      
      img {
        width: 100%;
        height: auto;
        min-width: 300px;
        display: block;
      }
    }
  }
}
