.border-left {
  border-left: 0.8rem solid var(--color-main);
  padding-left: 1rem;
}

/* icons */

.icons {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.img-fondo {
  background-image: url("{{ 'img/fondo-section.avif' | relative_url }}");
}

.redes {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 2em 0;

  a{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover{
      color: var(--color-main);
      transform: translateY(-2px);
    }
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 280px;

  -webkit-filter: drop-shadow(0 0 8px #ff9500)
    drop-shadow(0 0 15px rgba(255, 149, 0, 0.6))
    drop-shadow(0 0 25px rgba(255, 149, 0, 0.3));
  filter: drop-shadow(0 0 8px #ff9500)
    drop-shadow(0 0 15px rgba(255, 149, 0, 0.6))
    drop-shadow(0 0 25px rgba(255, 149, 0, 0.3));
  transition: transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, -webkit-filter 0.3s ease;
}

img:hover {
  transform: scale(1.03);
  -webkit-filter: drop-shadow(0 0 10px #ffae00)
    drop-shadow(0 0 20px rgba(255, 174, 0, 0.6))
    drop-shadow(0 0 30px rgba(255, 174, 0, 0.3));
  filter: drop-shadow(0 0 10px #ffae00)
    drop-shadow(0 0 20px rgba(255, 174, 0, 0.6))
    drop-shadow(0 0 30px rgba(255, 174, 0, 0.3));
}

/* CSS para las Tarjetas */
.cards-section {
  background: var(--color-grey);
  padding: 4rem 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 0 2rem;
}

.card {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  color: var(--color-main);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.card ul li{
  font-size: 0.92rem;
  list-style: none;
  margin-left: 0;
}

.card-icon {
  display: grid;
  place-items: center;
}

/* footer */
footer {
  display: grid;
  place-items: center;
}

footer .legal {
  border-top: 1px solid var(--color-main);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  
  small{
    font-weight: 400;
    font-size: 16px;
  }
}