---
layout: compress
---
{% include head.html %}
<body>

{{ content }}
{% include footer.html %}

<a href="#" id="lead_whatsapp" rel="nofollo noopener noreferrer" target="_blank" class="boton-whatsapp" title="WhatsApp de GurCoff">
    <img src="{{'img/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp" width="40" height="40" loading="lazy">
  </a>

<script src="https://cdn.lordicon.com/lordicon.js" defer></script>

<script src="{{'js/main.js'|relative_url}}" defer></script>

</body>
</html>